<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.apache.dolphinscheduler.dao.mapper.ExportDataMapper">


    <select id="queryExportDataProcessInstanceListPaging" resultType="org.apache.dolphinscheduler.dao.entity.ProcessInstance">
        select
        instance.id,
        instance.process_definition_code,
        instance.command_type,
        instance.name,
        instance.state,
        instance.start_time as start_date_time,
        instance.end_time as end_date_time,
        date_format(instance.start_time,'%Y-%m-%d %H:%i:%s')  as start_time,
        date_format(instance.end_time,'%Y-%m-%d %H:%i:%s') as end_time,
        instance.run_times,
        case
        WHEN instance.command_type in (9) and instance.state in(7) THEN
        '停止'
        WHEN instance.state in (6) THEN
        '失败'
        WHEN instance.state in (0,1,8,10,11)  THEN
        '执行中'
        WHEN instance.state in(2,3)  THEN
        '暂停'
        WHEN instance.state in(4,5)  THEN
        '停止'
        WHEN instance.state in(7)  THEN
        '完成'
        WHEN instance.state in(9)  THEN
        '未知'
        ELSE
        '未知'
        END as state_name
        from t_ds_process_instance instance
        right join bz_zr_process_out_put_export  export on export.process_id = instance.process_definition_code
        where instance.is_sub_process=0
        and instance.process_definition_code = #{processDefinitionId}
        <if test="startTimeFilterVal != null and startTimeFilterVal != ''">
            and  DATE_FORMAT(instance.start_time,'%Y-%m-%d')  like concat(#{startTimeFilterVal}, '%')
        </if>
        order by instance.start_time desc
    </select>


    <select id="queryPartitionDays" resultType="org.apache.dolphinscheduler.dao.entity.OutPutExportEntity">
        select process_id, code, datasource_json, datasource_name
        from bz_zr_process_out_put_export
        where process_id = #{processDefinitionId} and datasource_name = #{dataSourceName}
    </select>

    <select id="checkWhetherExport" resultType="Integer">
        SELECT COUNT(*)
        from bz_zr_process_out_put_export export
        where 1=1
        <if test="processId != null and processId != ''">
            and export.process_id = #{processId};
        </if>
    </select>


    <select id="queryProcessEndTime" resultType="String">
        select
        date_format(instance.end_time,'%Y-%m-%d %H:%i:%s') as end_time
        from t_ds_process_instance instance
        right join bz_zr_process_out_put_export  export on export.process_id = instance.process_definition_code
        where instance.is_sub_process=0
        and instance.process_definition_code = #{processDefinitionId}
        order by instance.end_time desc
    </select>

</mapper>